// Improved method of handling box sizing
// Aug '14
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  color: $color-black;
}

a {
  -webkit-transition: $link-transition-property $link-transition-speed $link-transition-type;
  -moz-transition: $link-transition-property $link-transition-speed $link-transition-type;
  -o-transition: $link-transition-property $link-transition-speed $link-transition-type;
  transition: $link-transition-property $link-transition-speed $link-transition-type;
  color: $color-royal;
}

// IMO top margins are annoying - MS
// Standard block text lements should push the one below away
h1, h2, h3, h4, h5, h6, p, ul, dl, ol, table {
  margin-top: 0;
  margin-bottom: $base-unit;
}

dd {
  margin-left: 0;
}

// Clean UL spacing
ul {
  padding-left: $base-unit;
}

table {
  @extend %text-small;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead tr {
  background: $color-agua;
  font-family: $base-font-family-bold;
}

tbody tr:nth-child(even) {
  background-color: $color-ltltgrey;
}

td,
th {
  padding: $base-unit-half $base-unit-quarter;
  border: 1px solid $color-ltgrey;
  position: relative;
  text-align: left;
  vertical-align: top;
  word-wrap:break-word;
}

input:focus {
  background: $color-caution;
}

input[type=checkbox] {
  width: auto;
  transition: box-shadow 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;

  &:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}

// Override ui-sortable cursor default
.ui-sortable-handle {
  cursor: move;

  // <a> tags used in sortables are only for styles.
  // Override default browser curor.
  a {
    cursor: move;
  }
}
