// Site Colors
$color-black: #222;
$color-white: #fff;
$color-royal: #1484C8;
$color-gold: #edc721;
$color-soft-gold: #FFEB93;
$color-pool: #83c1bf;
$color-agua: #eef6f6;
$color-dkdkblue: #001325;
$color-ltgrey: #f0eeee;
$color-dkgrey: #363636;
$color-ltltgrey: #fbf9f9;
$color-medgrey: #a1a1a1;
$color-description: #666;
$color-caution: #fff9e6;
$color-soft-warning: #E0FFD7;
$color-soft-red: #F1C8C8;
$color-warning: #c00;
$color-red: #c00;
$color-disabledtext: #bcbcbc;
$color-disabledbutton: #f2f2f2;
$color-shadow: rgba(121,121,121,0.65);
$color-border: #e2e2e2;
$color-ltgreen: #eefeeb;
$color-green: #009966;
$color-dirty-yellow: #ffc;
$color-soft-green: #b1eab2;
$color-soft-yellow: #f3e9bd;
$color-soft-pink: #e4afba;
$color-soft-blue: #d7ebf3;
$color-soft-purple: #c7beda;
$color-soft-brown: #f3c28c;
$color-bright-green: #6ff373;
$color-bright-yellow: #f1d96e;
$color-bright-blue: #93d8fd;
$color-soft-gray: #b1aca7;
$color-card-gold: #efc921;
$color-card-royal: #e6851a;
$color-card-pink: #f16682;

// Used for generating paddings / margins
$base-unit: 1em;
$base-unit-half: $base-unit * 0.5;
$base-unit-quarter: $base-unit * 0.25;

// Site wrapper
$wrapper-width: 1600px;

// Grid spacings
$cell-padding: 0;
$cell-gutters: 1.25em;
$grid-padding: 0.5em 1.25em;

// Grid col widths
$navcol-width: 210px;
$searchcol-width: 480px;

// Fonts
$base-font-family: liberation_sansregular, sans-serif;
$base-font-family-bold: liberation_sansbold, sans-serif;
$base-font-family-italic: liberation_sansitalic, sans-serif;
$base-font-family-bold-italic: liberation_sansbold_italic, sans-serif;

$base-font-size: 16px;
$base-content-font: $base-font-size * 0.875;
$base-rounded-corners: 7px;

// A Tag Transitions
$link-transition-speed: 0.15s;
$link-transition-type: ease-out;
$link-transition-property: all;

// Drawer Settings:
$drawer-col-width: 250px;
$drawer-width: 215px;
$drawer-control-width: 10px;

// Breakpoint mixins
@mixin breakpoint($point) {
  @if $point == laptop {
    @media (min-width: 64em) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 50em) { @content ; }
  }
  @else if $point == phone {
    @media (max-width: 37.5em)  { @content ; }
  }
}

// Z-Index Layers
$layer-1: 1;
$layer-2: 10;
$layer-3: 100;
$layer-4: 1000;
$layer-5: 10000;
$layer-6: 100000;
$layer-7: 1000000;
$layer-8: 10000000;
$layer-9: 100000000;
