@font-face {
  font-family: 'liberation_sansbold';
  // src: url('../../fonts/iberationsans-bold-webfont.eot');
  // src: url('../../fonts/liberationsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  //      url('../../fonts/liberationsans-bold-webfont.woff') format('woff'),
  //      url('../../fonts/liberationsans-bold-webfont.ttf') format('truetype'),
  //      url('../../fonts/liberationsans-bold-webfont.svg#liberation_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'liberation_sansbold_italic';
  // src: url('../../fonts/liberationsans-bolditalic-webfont.eot');
  // src: url('../../fonts/liberationsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  //      url('../../fonts/liberationsans-bolditalic-webfont.woff') format('woff'),
  //      url('../../fonts/liberationsans-bolditalic-webfont.ttf') format('truetype'),
  //      url('../../fonts/iberationsans-bolditalic-webfont.svg#liberation_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'liberation_sansitalic';
  // src: url('../../fonts/liberationsans-italic-webfont.eot');
  // src: url('../../fonts/liberationsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
  //      url('../../fonts/liberationsans-italic-webfont.woff') format('woff'),
  //      url('../../fonts/liberationsans-italic-webfont.ttf') format('truetype'),
  //      url('../../fonts/liberationsans-italic-webfont.svg#liberation_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'liberation_sansregular';
  // src: url('../../fonts/liberationsans-regular-webfont.eot');
  // src: url('../../fonts/liberationsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  //      url('../../fonts/liberationsans-regular-webfont.woff') format('woff'),
  //      url('../../fonts/liberationsans-regular-webfont.ttf') format('truetype'),
  //      url('../../fonts/liberationsans-regular-webfont.svg#liberation_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'wellspringiconsregular';
    // src: url('../../fonts/wellspringicons-webfont.eot');
    // src: url('../../fonts/wellspringicons-webfont.eot?#iefix') format('embedded-opentype'),
    //      url('../../fonts/wellspringicons-webfont.woff') format('woff'),
    //      url('../../fonts/wellspringicons-webfont.ttf') format('truetype'),
    //      url('../../fonts/wellspringicons-webfont.svg#wellspringiconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
